@font-face {
  font-family: 'Hero New Super Italic';
  src: url('fonts/hero_new_super_italic-webfont.woff2') format('woff2'),
       url('fonts/hero_new_super_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Hero New Super';
  src: url('fonts/hero_new_super-webfont.woff2') format('woff2'),
       url('fonts/hero_new_super-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Hero New Light';
  src: url('fonts/hero_new_light-webfont.woff2') format('woff2'),
       url('fonts/hero_new_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}